{% extends "./base/index.html" %}

{% block title %}Juan Pérez{% endblock title %}

{% block h1-title %}Juan Pérez{% endblock h1-title %}
{% block span-title %}Ingeniero Industrial{% endblock span-title %}
{% block content %}
  <!-- Cabecera -->
  <header class="masthead" style="background-image: url('img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>
                  Juan Pérez
              </h1>
              <span class="subheading">
                  Ingeniero Industrial
              </span>
            </div>
          </div>
        </div>
      </div>
  </header>
{% endblock content %}